.expenseModal {
    height: auto;
    width: auto;
    /* align-content: center; */
    /* align-items: center; */
    padding: 25px 10px 0px 10px;
    margin: 0 auto;
}

.modal-label {
    display: flex;
    width: 100%;
    font-weight: 300;
    color: black;
    align-items: center;
    margin-bottom: 0.25rem;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 7px;
}

.modal-input {
    display: flex;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-weight: 500;
    letter-spacing: -0.025em;
    background-color: #ffffff7a;
    height: 30px;
    font-size: medium;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    color: black;
}
